@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins';
}


html, body {
  height: 100%;
  margin: 0;
  background: #fff;
}

.logo img {
    width: 100px;
    text-decoration: none;
    color: #fff;
}
  
.carousel-container {
  max-width: 600px; 
  margin: 20px auto; 

}
.carousel-inner img {
  width: 100%;
  height: 400px; 
  object-fit: cover; 
}

.carousel-title{
  text-align: center;
  margin-top: 20px;
}
  


 
.navbar a{
  font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
}



.navbar {
  margin-bottom: 40px;
  background-color: #b8deff;
  position: relative;
}

.navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;

}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
}

.footer {
  background-color: #f7f7f7; 
  padding: 10px; 
  text-align: center;
  border-top: 1px solid #cfcfcf;
}

.content {
  flex: 1;
}


h5{
  color: rgb(17, 0, 255);
  font-weight: 700;
  text-transform: uppercase;
  text-align: end;
}

h2{
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(17, 0, 255);
}